#header {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 40px;
}
#box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-1 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-1:hover {
  background-color: rgb(230, 173, 225);
  margin: 15px;
  border-color: greenyellow;
  transition-property: all;
  transition-duration: 1s;
}

#box-2 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-2:hover {
  background-color: mediumseagreen;
  margin: 15px;
  border-color: blue;
  transition-property: all;
  transition-duration: 1s;
}

#box-3 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-3:hover {
  background-color: blue;
  margin: 15px;
  border-color: blueviolet;
  transition-property: all;
  transition-duration: 0.5s;
}

#box-4 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-4:hover {
  background-color: peru;
  margin: 15px;
  border-color: blue;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#box-5 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-5:hover {
  background-color: yellow;
  margin: 15px;
  border-color: red;
  transition-property: all;
  transition-duration: 0.5s;
}

#box-6 {
  border: solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
}

#box-6:hover {
  background-color: cornflowerblue;
  margin: 15px;
  border-color: darkolivegreen;
  transition-property: all;
  transition-duration: 0.5s;
}
